:root {
    --blue-color: #0E5A85;
    --white-color: #FFF;
    --light-blue-color: #ECF8FF;
    --red-color: #EF3030;
    --gray-color: #C3C2C8;
    --caption-size: 10px;
    --text-size: 15px;
    --title-size: 20px;
}


* {
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

main {
    height: 100%;
}
