:root {
  --blue-color: #0e5a85;
  --white-color: #fff;
  --light-blue-color: #ecf8ff;
  --red-color: #ef3030;
  --gray-color: #c3c2c8;
  --caption-size: 10px;
  --text-size: 15px;
  --title-size: 20px;
}

* {
  font-family: Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  height: 100%;
}
