.form-field-image {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;;
}

.form-field-image__icon svg {
    color: var(--blue-color);
    width: 90px;
    height: 90px;
}

.form-field-image__input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.form-field-image__label {
    cursor: pointer;
    color: var(--blue-color);
    text-decoration: underline;
    font-size: var(--text-size);
}
