.modal-error {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.35);
}

.modal-error__container {
    display: grid;
    height: 100%;
}
.modal-error__content {
    max-height: 90vh;
	max-width: 500px;
    min-width: 300px;
	margin: auto;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
    justify-items: center;
    padding: 20px 20px 40px;
}

.modal-error__icon {
    justify-self: end;
    margin-bottom: 10px;
}
