<div class="main">
    <div class="main__menu">
        {{> components/icon/icon type="avatar" active="true" }}
        {{> components/icon/icon type="chat"  }}
        {{> components/icon/icon type="plus" }}
    </div>
    <div class="main__content">
        {{> @partial-block }}
    </div>
</div>