.input-field {
    display: grid;
    position: relative;
}

.input-field__input {
    background-color: var(--white-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    padding: 20px 10px;
}

.input-field__icon {
    color: var(--blue-color);
    position: absolute;
    right: 0;
    top: 0;
}
