.input-field-search {
  position: relative;
}

.input-field-search__options {
  background-color: var(--white-color);
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.input-field-search__option {
  padding: 10px;
}
