<div class="chat-item">
    <div class="chat-item__title">
        {{> components/icon/icon type="avatar" class="chat-item__avatar" }}
        <div class="chat-list__author">{{ author }}</div>
        {{#if newMsgCount}}
           <span class="chat-list__new-msg-count">{{ newMsgCount }}</span>
        {{/if}}
    </div>
    <p class="chat-item__msg">{{ lastMsg }}</p>
</div>