.profile {
    display: grid;
    justify-items: center;
    margin: auto;
    max-height: 100vh;
    overflow: auto;
    text-align: center;
}

.profile__inner {
    min-width: 400px;
}

.profile__title {
    color: var(--blue-color);
    font-size: var(--title-size);
    font-weight: bold;
    margin: 70px 20px 55px;
}

.profile__avatar {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;;
}

.profile__icon svg {
    color: var(--blue-color);
    width: 90px;
    height: 90px;
}

.profile__fields {
    display: grid;
    row-gap: 20px;
}

.profile__buttons {
    margin: 55px 0;
    display: grid;
    text-align: center;
    justify-self: stretch;
    row-gap: 20px;
}