.chats {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    max-height: 100vh;
}

.chats__panel {
    background-color: #DFEBF5;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    row-gap: 10px;
}

.chats__search {
    padding-right: 10px;
}

.chats__list {
    align-content: start;
    display: grid;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    row-gap: 20px;
}

.chats__item {
    padding-right: 10px;
}
