<div class="auth-form">
    <div class="auth-form__inner">
        <div class="auth-form__title">{{ data.title }}</div>
        <form class="auth-form__fields">
            {{#each data.fields }}
                {{> components/form-field/form-field name=name title=title type=type }}
            {{/each}}
        </form>
        <div class="auth-form__buttons">
            {{> components/button/button title=data.button.title }}
            {{> components/link/link title=data.link.title url=data.link.url }}
        </div>
    </div>
</div>